/** Wordpress Customizer CSS **/
#header_type input[type="radio"] {
    display: none;
}

#header_type input[type="radio"] + label img {
    max-width:30%;
    float:right;
}

#header_type input[type="radio"] + label {
  width:260px;
  display:inline-block;
  padding:5px;
  margin-bottom:5px;
}

#header_type span {
  padding:5px;
  float:left;
}

#header_type input[type="radio"]:checked + label {
  background-color:#FFF;
  -webkit-box-shadow:inset 0px 0px 0px 1px #CCC;
  -moz-box-shadow:inset 0px 0px 0px 1px #CCC;
  box-shadow:inset 0px 0px 0px 1px #CCC;
}

#region_titles {
  font-weight:bold;
  color:#333;
  font-size:18px;
  text-align:center;
  line-height:40px;
  width:240px;
  height:40px;
  padding:10px;
  margin-top:15px;
  margin-bottom:5px;
  border:1px solid #CCC;
}

#grand_region_titles {
  font-weight:bold;
  color:#FFF;
  background-color:#333;
  font-size:18px;
  text-align:center;
  line-height:40px;
  width:240px;
  height:40px;
  padding:10px;
  border:1px solid #000;
}

#linespace {
  width:100%;
  border-bottom:1px solid #CCC;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
}

input[type=range] {width:100%;}
.customize-control select {min-width:100%;}

.accordion-sub-container.control-panel-content {right:0;}
#accordion-section-themes {display:none !important;}
.accordion-section-title {font-weight:400;}

li#accordion-section-static_front_page > h3.accordion-section-title:before {
    content: url(../images/icons/homepage.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-header_one > h3.accordion-section-title:before {
    content: url(../images/icons/header1.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-header_two > h3.accordion-section-title:before {
    content: url(../images/icons/header2.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-header_three > h3.accordion-section-title:before {
    content: url(../images/icons/header3.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-upper_unibar > h3.accordion-section-title:before {
    content: url(../images/icons/upperunibar.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-content > h3.accordion-section-title:before {
    content: url(../images/icons/content.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-left_sidebar > h3.accordion-section-title:before {
    content: url(../images/icons/leftsidebar.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-right_sidebar > h3.accordion-section-title:before {
    content: url(../images/icons/rightsidebar.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-lower_unibar > h3.accordion-section-title:before {
    content: url(../images/icons/lowerunibar.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-multibar > h3.accordion-section-title:before {
    content: url(../images/icons/multibar.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-footer > h3.accordion-section-title:before {
    content: url(../images/icons/footer.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-section-global_background > h3.accordion-section-title:before {
    content: url(../images/icons/background.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-nav_menus > h3.accordion-section-title:before {
    content: url(../images/icons/menus.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-widgets > h3.accordion-section-title:before {
    content: url(../images/icons/widgets.png);
    padding-right:5px;
    vertical-align:middle;
}

li#accordion-panel-globaloptions > h3.accordion-section-title:before {
    content: url(../images/icons/advanced.png);
    padding-right:5px;
    vertical-align:middle;
}

/** Post/Page Meta Box CSS **/
#meta-box-title {
  font-weight:bold;
  border-bottom:1px solid #ccc;
}

#meta-box-content {
  padding-top:10px;
  padding-bottom:10px;
}
